{% macro article_header(page) %}
<header>
  <h1>{{ page.title | safe }}</h1>
  {% if page.date %}
    <span class="post meta date">{{ page.date | date(format="%-d %b %Y") }}</span>
  {% endif %}
  {% if page.date and page.taxonomies and page.taxonomies.tag %}
    —
  {% endif %}
  {% if page.taxonomies and page.taxonomies.tag %}
    {% for tag in page.taxonomies.tag | sort() %}
      <a class="tag" href="{{ get_taxonomy_url(kind="tag", name=tag) }}">{{ tag }}</a>
    {% endfor %}
  {% endif %}
</header>
{% endmacro article_header %}
