{%- set maths = false -%}
{%- if page and page.extra and page.extra.maths -%}
  {%- set maths = true -%}
{%- elif section and section.extra and section.extra.maths -%}
  {%- set maths = true -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="css/base.css") }}"/>
    {% if maths %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    {% endif %}
  </head>
<body>
  {%- include "navigation.html" -%}
  {%- block content %}{% endblock content -%}
  <footer class="site">
    <a href="http://www.ardischeng.com/">icons by ardis</a>
    {%- block source -%}{%- endblock source -%}
  </footer>
</body>
</html>
