{%- if page -%}
  {%- set resource = page -%}
{%- elif section -%}
  {%- set resource = section -%}
{%- endif -%}
<header class="site">
  <nav>
    <ul>
      {%- for item in config.extra.navigation -%}
        {%- if resource.extra.nav_id and item.name == resource.extra.nav_id -%}
        {%- set class = "active" -%}
        {%- else -%}
        {%- set class = "inactive" -%}
        {%- endif -%}
      <li><a title="{{ item.name }}" class="{{ class }}" href="{{ get_url(path=item.url) }}"><picture>
            <source srcset="{{get_url(path="/images/" ~ item.image)}}" media="(prefers-color-scheme: light)"/>
            <source srcset="{{get_url(path="/images/dark_" ~ item.image)}}" media="(prefers-color-scheme: dark)"/>
            <img alt="{{ item.name }}" src="{{get_url(path="/images/" ~ item.image)}}"/>
      </picture></a></li>
      {%- endfor -%}
    </ul>
  </nav>
</header>
