{% extends "base.html" %}

{% block title%}Posts by {{ taxonomy.name }}{% endblock title %}

{% block content %}
<h1>Posts by {{ taxonomy.name }}</h1>
{%- for term in terms -%}
  <h2>{{ term.name }}</h2>
  <ul class="term-pages">
  {%- for page in term.pages -%}
    <li><a href="{{ page.path }}">{{ page.title }}</a>
    {%- if page.date %}
      — <span class="post meta date">{{ page.date | date(format="%-d %b %Y") }}</span>
    {%- endif -%}
    </li>
  {%- endfor -%}
  </ul>
{%- endfor -%}
{% endblock content %}
